$facebook: #3b5998;
$twitter: #00aced;
$google: #dd4b39;
$youtube: #b00;

$white: #fff;
$black: #000;
$offBlack: #3e474f;
$red: #f00;
$grey: #888888;
$green: #00FF00;
$blue: #0000FF;
$mainBlue: #2f5572;
$mainOrange: #d59541;
$darkcerulean: #004f7a;
